 <div class="bordered_box">
   <div class="box_header">
      <p><div class="sectiontitle"><%=link_to @post.title, '/topics/'+@post.topic.url+'?title='+@post.title.html_safe.gsub("#","%23")%></div>
      </p>
      <p>
      <%= link_to @post.updated_by_name, '/users/'+@post.updated_by_name %>
      <%=if @post.updated_at > @post.created_at then " updated in " else " posted in " end %> 
      <%=if @post.topic then link_to @post.topic.name, '/topics/'+@post.topic.url else "??" end %> on 
      <%=@post.updated_at.in_time_zone('Pacific/Auckland').strftime("%Y-%m-%d %H:%M")%>
      <% if current_user and (current_user.id==@post.created_by_id or current_user.is_admin) then %>
        <%=  link_to "Edit", '/posts/'+@post.id.to_s+'/edit', class: 'link_to'%>
        <%= link_to "Delete", '/posts/'+@post.id.to_s+'/delete', confirm: "Delete post: Are you sure?", class: 'link_to' %>
      <% end %>
      <% if current_user and (current_user.is_admin or (@post.topic.is_public or (@post.topic.is_owners and current_user.id == @post.topic.owner_id))) %>
        <%= link_to "Reply", '/posts/new/?topic_id='+@post.topic.url+'&title='+@post.title.html_safe, class: "link_to" %>
      <% end %>
      </p>
      <% if @post.referenced_date or @post.callsign then %>
        <p>
          <b><%=if @post.callsign then @post.callsign+" " end%><%=@post.topic.name%><%if @post.referenced_date then %> on/from <%=@post.referenced_date.strftime("%Y-%m-%d")%> <%=if @post.referenced_time then @post.referenced_time.strftime("%H:%M") end%><%end%><% if @post.duration then%> for <%=(@post.duration||1).to_s%> day(s)<%end%></b>
        </p>
      <% end %>
      <% if @post.site and @post.site.length>0 then %>
        <p><%=@post.site%></p>
      <% end %>
      <%if (@post.freq and @post.freq.length>0) or (@post.mode and @post.mode.length>0) then%><p><%=@post.freq%> - <%=@post.mode%></p><% end %> 
   </div>
   <div class="box_contents">
      <div class="sectiontext"><%=raw (@post.description).gsub(/(?<=<style type=\"text\/css\">).+(?=<\/style>)/m,'')%></div>
      <% if @post.files %>
        <% @post.files.each do |uf| %>
          <div class="erow">
             <div class="hrline">
                <hr noshade size="3">
             </div>
          </div>
          Download: <%= link_to uf.image.url.split('/')[4].split('?')[0], uf.image.url, :target=>"_blank"%>
          <% if current_user and (current_user.id==@post.created_by_id or current_user.is_admin) then %>
            <%= link_to "Delete", '/files/'+uf.id.to_s+'/delete', confirm: "Delete attachment: Are you sure?", class: 'link_to' %>
          <% end %>
        <% end %>
      <% end %>

   <% if @post.images %>
      <% @post.images.each do |image| %>
        <div class="erow">
          <div class="hrline">
            <hr noshade size="3">
          </div>
        </div>

        <%= link_to (image_tag image.image.url(:original), style: 'max-height:480px;max-width:480px'), image.image.url(:original), :target=>"_blank"%>
        <% if current_user and (current_user.id==@post.created_by_id or current_user.is_admin) then %>
          <%= link_to "Delete", '/images/'+image.id.to_s+'/delete', confirm: "Delete image: Are you sure?", class: 'link_to' %>
        <% end %>

      <% end %>
    <% end %>
  </div>
 </div>
