<div class="sectiontitle" class="no-print">
   <div class="softlink" id='<%=expName+"plus"%>' <%=%q[onclick=clickplus(']+expName+%q[')]%> 
        style='display:<%=if(initialSt==1) then "none" else "block" end%>'>more...</div>
   <div class="softlink" id='<%=expName+"minus"%>' <%=%q[onclick=clickminus(']+expName+%q[')]%> 
        style='display:<%=if(initialSt==1) then "block" else "none" end%>'>less</div>
</div>

